/* Raleway font style */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Inter font style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */

.primary-bg {
  background-color: #f5f8ff;
}

.btn-primary {
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 36px;
  border-radius: 5px;
  border: none;
}

.text-center {
  text-align: center;
}

/* Body styles */
body {
  margin: 0px 0px;
  padding: 0px 0px;
}

/* Header Styles */
.header {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px 50px;
  padding-top: 50px;
}

.nav-logo {
  font-size: 34px;
  color: #4e47ff;
  font-weight: 800;
}

/* Banner Styles */

.banner {
  margin: 158px 267.5px 0px;
}

.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin: 0 0;
}

.banner-btn-container {
  padding: 37px 0px 152px 0px;
}

/* Preview Section Style */

.preview-container {
  margin: 116px 150px;
  display: flex;
  gap: 220px;
  /* justify-content: space-between; */
}

.preview {
  margin: 62px 0px;
  padding: 0px 0px;
}

.preview-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin: 0px 0px 23px;
}

.preview-text {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin: 0px 0px 23px;
}

.preview-img-container {
  margin: 0px 0px;
  padding: 0px 0px;
}

.preview-img {
  border-radius: 48px;
}

/* Success Counter Style */

.success-count {
  margin: 116px 150px;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 0px;
}

.success-title {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin: 10px 0px;
  padding: 0px 0px 40px;
}

.counter-container {
  display: flex;
  margin: 0px 142px;
  justify-content: space-between;
}

.counter {
  margin: 0px 0px;
  padding: 0px 0px;
}

.count-title {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  margin: 0px 0px;
  padding: 0px 0px;
}

.count-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin: 0px 0px;
  padding: 0px 0px;
}

/* Footer Style */
footer {
  margin: 0px;
  padding: 105px 450px;
  background-color: white;
}

.footer-logo {
  font-size: 100px;
  color: #4e47ff;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
}

.footer-text {
  font-family: "Inter", sans-serif;
  color: #8987a1;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.footer-links-container {
  display: flex;
  margin: 20px 65px 0px;
  padding: 0px;
  justify-content: space-between;
}

.footer-link {
  font-family: "Inter", sans-serif;
  color: #8987a1;
  font-size: 16px;
  text-decoration: none;
}
